# Ignore Vim bundle for increased speed
vim/plugged/*
vim/view
vim/undo-history

# Ignore tmux plugins
tmux/plugins/*
tmux/resurrect

# Ignore sensitive exports
*.ignore.*

# Ignore mutt local files
mutt/.mutt/aliases/.alias_include
mutt/.mutt/local/.muttrc.local
