# Ignore IntelliJ files
*.iml
# Ignore Vim bundle for increased speed
vim/plugged/*
vim/view
vim/undo-history
vim/undodir

# Ignore nvim compiled packer
config/nvim/plugin/*
# Ignore zsh plugins
zsh/plugins/*
# Ignore nvim plugins
config/nvim/plugged/*

# Ignore karabiner backups
config/karabiner/automatic_backups

# Ignore tmux plugins
tmux/plugins/*
tmux/resurrect
!tmux/plugins/tpm

# Ignore sensitive exports
*.ignore.*

# Ignore mutt local files
mutt/.mutt/aliases/.alias_include
mutt/.mutt/local/.muttrc.local
